In [14]:
import pandas as pd
import numpy as np

In [15]:
# Create of DataFrame 
array1 = np.array([10,20,30])
dFrame4 = pd.DataFrame(array1)
print(dFrame4)

    0
0  10
1  20
2  30

In [16]:
# Create of DataFrame from List of Dictionary
listdict = [{'a':10,'b':20}, {'a':5,'b':10, 'c':20}]
dFramelistdict = pd.DataFrame(listdict)
print(dFramelistdict)

    a   b     c
0  10  20   NaN
1   5  10  20.0

In [17]:
# Creation of DataFrame from Series 
seriesA = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
seriesB = pd.Series ([1000,2000,-1000,-5000,1000],index = ['a','b','c','d','e'])
dFrame6 = pd.DataFrame(seriesA)
print(dFrame6)

   0
a  1
b  2
c  3
d  4
e  5

In [18]:
dFrame7 = pd.DataFrame([seriesA,seriesB])
print(dFrame7)

      a     b     c     d     e
0     1     2     3     4     5
1  1000  2000 -1000 -5000  1000

In [19]:
# Creation of DataFrame from Dictionary of series
import pandas as pd
ResultSheet={'Arnab': pd.Series([90,91,97],index=['Maths','Science','Hindi']),
'Ramit': pd.Series([90,50,84],index=['Maths','Science','Hindi']),
'Sahir': pd.Series([85,93,78],index=['Maths','Science','Hindi']),
'Riya': pd.Series([58,87,65],index=['Maths','Science','Hindi']),
'Mallika': pd.Series([98,78,98],index=['Maths','Science','Hindi'])}
ResultDF = pd.DataFrame(ResultSheet)
print(ResultDF)

         Arnab  Ramit  Sahir  Riya  Mallika
Maths       90     90     85    58       98
Science     91     50     93    87       78
Hindi       97     84     78    65       98

In [20]:
# Adding a New Column to a DataFrame
ResultDF['Jimmy']=[55,78,88]
print(ResultDF)

         Arnab  Ramit  Sahir  Riya  Mallika  Jimmy
Maths       90     90     85    58       98     55
Science     91     50     93    87       78     78
Hindi       97     84     78    65       98     88

In [21]:
# Adding a New Row to a DataFrame 
# DataFrame .loc[] method can also be used to change the Data values of a Row. 
ResultDF.loc['English'] = [87,75,89,84,86,68]
print(ResultDF)

         Arnab  Ramit  Sahir  Riya  Mallika  Jimmy
Maths       90     90     85    58       98     55
Science     91     50     93    87       78     78
Hindi       97     84     78    65       98     88
English     87     75     89    84       86     68

In [22]:
# Delete Rows or Coloumn from a DataFrame 
# Delete the Rows with the label 'Hindi'
ResultDF = ResultDF.drop('Hindi',axis=0)
print(ResultDF)

         Arnab  Ramit  Sahir  Riya  Mallika  Jimmy
Maths       90     90     85    58       98     55
Science     91     50     93    87       78     78
English     87     75     89    84       86     68

In [10]:
# Delete the Coloumn having labels 'Ramit' and 'Riya'
ResultDF = ResultDF.drop(['Ramit','Riya'], axis=1)
print(ResultDF)

         Arnab  Sahir  Mallika  Jimmy
Maths       90     85       98     55
Science     91     93       78     78
English     87     89       86     68

In [26]:
# Rename Row labels of a DataFrame
# TO rename the Row.
ResultDF = ResultDF.rename({'Maths':'Sub1','Science':'Sub2','English':'Sub3'})
print(ResultDF)

      Arnab  Ramit  Sahir  Riya  Mallika  Jimmy
Sub1     90     90     85    58       98     55
Sub2     91     50     93    87       78     78
Sub3     87     75     89    84       86     68

In [27]:
# Accessing Dataframe Element through Indexing 
# Label Based Indexing 
ResultDF.loc['Sub3']

Arnab      87
Ramit      75
Sahir      89
Riya       84
Mallika    86
Jimmy      68
Name: Sub3, dtype: int64